<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="description" content="site to play around with python" />

  <title>playing with python</title>
  
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" type="text/css" rel="Stylesheet" />

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>


  {% load compressed %}

  {% compressed_css 'deps' %}
  {% compressed_css 'custom' %}
</head>
<body>
  <header>
    <h1>spotify playtml5</h1>
  </header>
  
  <section class="search">
    <fieldset>
      <ul class="inline">
        <li>search: </li>
        <li><input type="text" name="q" class="spotify-lookup" /></li>
        <li><div class="loading"></div></li>
      </ul>
    </fieldset>
  </section>

  <div class="two-column">
    <div>
      <section class="results">
        results go here...
      </section>
    </div>
    <div>
      <section class="play-controls">
        <!--iframe src="https://embed.spotify.com/?uri=spotify:track:4bz7uB4edifWKJXSDxwHcs" frameborder="0" allowtransparency="true"></iframe-->

      </section>
    </div>
  </div>

  <footer>written by justin j. moses</footer>
    {% compressed_js 'temp' %}
</body>
</html>