<div>

  <ul class="inline player-controls">
    <li><button class="btn prev"></button></li>
    <li><button class="btn play"></button></li>
    <li><button class="btn next"></button></li>
  </ul>
  
  <div class="now-playing">
    <ul class="inline">
      <li class="info">Now Playing: </li>
      <li class="track"></li>
    </ul>
    <ul class="inline">
      <li class="artist"></li>
      <li class="album"></li>
    </ul>
    <div class="progress-bar"></div>
    <div class="timer"><span class="elapsed"></span> of <span class="total"></span></div>

  </div>
</div>