<div>

  <ul class="inline player-controls">
    <li><button class="btn prev"></button></li>
    <li><button class="btn play"></button></li>
    <li><button class="btn next"></button></li>
  </ul>
  
  <ul class="inline now-playing">
    <li class="info">Now Playing: </li>
    <li class="track"></li>
    <li class="artist"></li>
    <li class="album"></li>
  </ul>

  <div class="progress-bar"></div>

  

  <ul>
    <!-- all tracks go here -->
    
    <!-- highlight current <li class="current-track"></li> -->

  </ul>
</div>