body
  background-color black
  margin 0 
  padding 15px
  color white

h1
  font-size 2em
  color lime
  
.content
  margin-top 20px

.highlight
  color red 

ul.inline
  > li 
    display: inline-block

fieldset.search
  padding 5px 0px
  border-top 1px solid #444
  border-bottom 1px solid #444
footer
  position fixed
  bottom 0
  right 0
  color #444 