$font-size = 12pt
$embed-width = 300px
$embed-height = 380px 

body
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size $font-size
  background-color black
  margin 0 
  padding 15px
  color white

h1
  font-size 2em
  color lime
  
.content
  margin-top 20px

.highlight
  color red 

ul.inline
  > li 
    display: inline-block

.search
  fieldset
    padding 5px 0px
    border-top 1px solid #444
    border-bottom 1px solid #444
    input
      font-size $font-size

.loading
  background url(../img/ajax-loader.gif) no-repeat center
  width 16px
  height 16px
  display none

.two-column 
  overflow hidden
  > div
    float: left
    width: 50%

.results
  margin 5px 0px
  min-height $embed-height
  color #666
  h3 
    color white
  a
    color lime
  .artist

  li 
    padding 5px 0px
    font-size 90%
  li:nth-child(odd) 
    background-color #222
  .query 
    font-style italic
    color yellow

.player
  padding 5px 0px 
  .player-controls
    float none
  .now-playing
    width 250
    display none
    color #666
    .track
      color white
    .artist
      color #888
      font-weight bold
      &:before
        content 'by '
        font-weight normal
    .album 
      color #333
  .progress-bar
    height 10px
  .btn
    width 73px
    height 71px
    border 0
    cursor pointer
    opacity 0.9
    &:hover
      opacity 1
    &:active
      opacity 0.5
    &.play
      background-image url(../img/button-play.png)
    &.prev
      background-image url(../img/button-prev.png)
    &.stop
      background-image url(../img/button-stop.png)
    &.next
      background-image url(../img/button-next.png)
  .timer
    float right
    color #888 
    font-size 80%     

.playlists
  li
    overflow hidden
  li:nth-row(odd) 
    background-color #555
  .delete-playlist 
    float right
footer
  position fixed
  bottom 0
  right 0
  color #444 