$font-size = 12pt
$embed-width = 300px
$embed-height = 380px 

body
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size $font-size
  background-color black
  margin 0 
  padding 15px
  color white

h1
  font-size 2em
  color lime
  
.content
  margin-top 20px

.highlight
  color red 

ul.inline
  > li 
    display: inline-block

.search
  fieldset
    padding 5px 0px
    border-top 1px solid #444
    border-bottom 1px solid #444
    input
      font-size $font-size

.loading
  background url(../img/ajax-loader.gif) no-repeat center
  width 16px
  height 16px
  display none

.two-column 
  > section
    float: left
    width: 50%

.results
  margin 5px 0px
  min-height $embed-height
  color #666
  a
    color lime
  .artist

  li 
    padding 5px 0px
    font-size 90%
  li:nth-child(odd) 
    background-color #222

.player
  padding 5px 0px 
  .player-controls
    float left
  .now-playing
    float left
    display none
    color #666
    .track
      color white
    .artist
      color #888
      font-weight bold
      &:before
        content 'by '
        font-weight normal
    .album 
      color #333
  .btn
    width 73px
    height 71px
    border 0
    cursor pointer
    opacity 0.9
    &:hover
      opacity 1
    &:active
      opacity 0.5
    &.play
      background-image url(../img/button-play.png)
    &.prev
      background-image url(../img/button-prev.png)
    &.stop
      background-image url(../img/button-stop.png)
    &.next
      background-image url(../img/button-next.png)
      

footer
  position fixed
  bottom 0
  right 0
  color #444 